.screen-dialog{
    position:absolute;
}
.dialog-model{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000000;
    opacity:.4;
}

.dialog {
    position: fixed;
    width: 602px;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #0072bc
}


.dialog .dialog-body{
    padding:8px;
}

.dialog .dialog-titlebar{
    width:100%;
    background-color:#0072bc;
    height:30px;
    
    color:#ffffff;
   
}

    .dialog .dialog-titlebar .title {
        float: left;
        line-height: 25px;
        padding-left: 4px;
    }

.dialog .dialog-titlebar .btn-close{
    width:16px;
    height:16px;
    float: right;
    line-height:25px;
    border-radius:50%;
    background-color:#ffffff;
    color:#0072bc;
    font-weight:600;
    line-height:15px;
    position:absolute;
    text-align:center;
    top:5px;
    right:5px;
    cursor:pointer;
}

.dialog .dialog-bottom-left{
    float:left;
}

.dialog .dialog-bottom-right{
    float:right;
    display:flex;
}

.btn-bottom-dialog{
    display:flex;
    align-items:center;
    
}

.btn-dialog-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../content/img/iconsprite.png');
}

.btn-dialog-help {
    background-position: 0px -1599px;
}

.btn-dialog-save {
    background-position: 0px -768px;
}

.btn-dialog-save-as {
    background-position: 0px -737px;
}

.btn-dialog-cancel {
    background-position: 0px -1967px;
}


.row-form-add{
    width:100%;
}

#dtBirthday {
    width: calc(100% - 6px);
	text-align:right;
	padding-right: 5px;
}

#ckIs5FoodMember{
    margin-left:0px;
}


